:root {
  --color--highlight-blue: #aadded;
  --color--highlight-azure: #cae6f4;
  --color--highlight-alice: #f3fafc;
  --color--highlight-blonde: #fdf3bf;
  --color--highlight-yellow: #fde789;
}

html {
  background: var(--color--highlight-alice);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
